.short-stories {
  @include fullScreenCentered(row);
  background-image: url('../images/book-pages.jpg');

  .ss-title-card {
    @include flexCenter();
    width: 45vw;
    height: 30vh;
    background-color: $fadedCard;
    border: solid $bestPurple 3px;
    border-radius: 10px;
  }
}