.short-stories {
  @include fullScreenCentered(row);
  background-color: $kkMint;

  .ss-title-card {
    @include flexCenter();
    width: 55vw;
    height: 30vh;
    background-color: $fadedCard;
    border: solid $kkDarkGreen 3px;
    border-radius: 10px;
  }
}